.news {
  display: grid;
  grid-template-columns: 80% 20%;
  padding-top: 2em;
  &-details{
    text-align: center;
  }
  &-container {
    width: 1265px;
    margin: 3em auto 2em;
  }
  &-thumb {
    width: 10em;
    height: 10em;
    margin-right: 1em;
  }
  &-item {
    display: flex;
    box-shadow: 6px 4px 4px 0px;
    margin-bottom: 1em;
  }
  &-item p {
    font-size: 0.8em;
  }
  &-link:hover{
    color: #18bc9c;
  }
  &-filter {
    box-shadow: 6px 3px 9px 0px;
    margin-left:2em;
    height: 20em;
    padding: 1em;
  }
}
