.profile {
  display: grid;
  grid-template-columns: 300px 900px;
  grid-column-gap: 65px;
}
.profile-bg {
  height: 160px;
  width: 100%;
  position: absolute;
}
.profile-container {
  height: 27em;
  width: 1265px;
  margin: 3em auto 2em;
  position: relative;
  font-family: "Open Sans";
  font-size: 20px;
}
.profile-info {
  height: 27em;
  background-color: #fff;
  width: 300px;
  text-align: center;
  border: 0.1px outset rgba(0, 0, 0, 0.336);
}
.profile-info-ava {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  box-shadow: -1px 4px 7px 0px #00000080;
  margin: 30px auto;
}
.profile-info-text {
  margin-top: 50px;
}
.profile-info-dog {
  color: rgba(168, 124, 41, 0.863);
}
.profile-info-dollar {
  color: green;
}
.profile-content {
  height: 27em;
  background-color: #fff;
  border: 0.1px outset rgba(0, 0, 0, 0.336);
}
.profile-content-tabs {
  height: 110px;
  display: grid;
  grid-template-columns: 450px 450px;
  border-bottom: 2px solid black;
}
.profile-content-tabs-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-content-tabs-item.active {
  box-shadow: -2px 5px 6px 2px #000000a1;
  transition: 0.5s;
}
.profile-content-body {
  margin-top: 30px;
  margin-left: 30px;
}
.profile-content-orders {
  display: flex;
  width: 42em;
  height: 19em;
  line-height: 1.2em;
}
.profile-content-order .bottom {
  display: flex;
  justify-content: space-between;
}
.profile-content-order button {
  height: 40px;
  min-width: 40px;
  margin: 5px;
  border-radius: 4px;
  background-color: transparent;
  border-width: 0.5px;
}
.profile-content-order .cancle {
  border-color: #ff0000;
  color: #ff0000;
}
.profile-content-order .cancle-confirm {
  font-size: 14px;
  padding: 0 5px;
  border-color: #ff0000;
  color: #ff0000;
}
.profile-content-order .cancle-confirm:hover {
  background-color: #ff0000;
  transition: 0.5s;
  color: white;
}
.profile-content-order .red {
  color: red;
}
.profile-content-order .green {
  color: green;
}
.profile-content-order {
  border: 0.1px outset rgba(0, 0, 0, 0.336);
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 4px 4px 9px 1px #000000a1;
  margin-right: 50px;
  padding: 10px;
  min-width: 15em;
  height: 18em;
  margin-left: 5px;
}
.profile-content-order-product {
  width: 100%;
  display: flex;
  font-size: 13px;
  cursor: pointer;
}
.profile-content-order-product .price {
  justify-self: flex-end;
}
.profile-content-order-product img {
  height: 60px;
  width: 80px;
  object-fit: contain;
  border-radius: 8px;
}
.profile-content-order-product .info {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: min-content;
}
.profile-content-order-product .info-vertical {
  margin-top: 11px;
  line-height: 0px;
}
.profile-content-order-details {
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-content-order-details .init {
  display: flex;
  width: 25em;
  padding-bottom: 0.5em;
  justify-content: space-between;
}
.profile-content-order-details .red {
  color: red;
}
.profile-content-order-details img {
  height: 4.5em;
  width: 4.5em;
  border: 1px solid black;
}

.scroll__container {
  display: flex;
  overflow-y: hidden;
}

.hidden {
  display: none;
  transition: 1s;
}

.init-cancle {
  width: 20em;
  background-color: black;
  color: #ddd;
  height: 3em;
}
.init-cancle:hover {
  color: white;
  transition: 1s;
}

.profile-content-order-products {
  height: 9em;
}

.profile-content-order-products img {
  height: 6em;
  width: 7em;
  object-fit: fill;
}

/*# sourceMappingURL=profile.css.map */
