.brandcate{
    flex:4;
    display: flex;
    flex-direction: column;
}

.bcContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}
.brandList{
    padding:20px;
    height:410px;
    flex:1;
}
.categoryList{
    padding:20px;
    height:410px;
    flex:1;

}
.inputUpdate{
    background: none ;
    border:none;
}
.newBrandCate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.newItem{
    display: flex;
    align-items: center;
    
}
.newItem>label{
    font-weight: 600;
    font-size: 16px;
}
.addNew{
    width: 250px;
    margin: 0 10px;
}
.addNewButton{
    border:none;
    border-radius: 10px;
    background-color:rgb(110, 235, 110);
    color:#fff;
    padding: 5px;
}
.listEdit{
    border:none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color:#fff;
    cursor: pointer;
    margin-right: 10px;
    line-height:normal;
}
.listDelete{
    color:red;
    cursor: pointer;
}
.dupBrand{
    border:none;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 14px;
    background-color: #ecea63;
    color:#b6b307;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    line-height:normal;
}