.cart {
  &-empty {
    margin-left: 15rem;
  }
  &-back {
    border-radius: 5px;
    height: 3rem;
    width: 14rem;
    color: rgba(255, 255, 255, 0.377);
    background: black;
  }
  &-back:hover {
    color: #fff;
    transition: 1s;
  }
  &-container {
    width: 1265px;
    margin: 10px auto;
    text-align: center;
    margin-top: 50px;
  }
  &-list {
    text-align: start;
  }
  &-similar {
    display: flex;
    &-info h6 {
      line-height: 12px;
    }
  }
  &-body {
    display: flex;
  }
  &-item {
    display: flex;
    margin-left: 10em;
    
    &-info {
      width: 40em;
      display: flex;
      justify-content: space-between;
    }
    &-info input {
      height: 1.6em;
      width: 2em;
      text-align: center;
      outline: none;
      background-color: white;
    }
    &-info input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &-info input:focus {
      outline: none;
    }
    &-info h5 {
      line-height: 1em;
      text-align: start;
    }
    &-name{
      width: 10em;
    }
  }
  &-item img {
    height: 10em;
    width: 9em;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 1px;
    margin-right: 10px;
  }

  &-similar img {
    height: 100px;
    width: 80px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px 1px;
    margin-right: 10px;
  }
}
