.cart {
  &-empty {
    margin-left: 15rem;
  }
  &-back {
    border-radius: 5px;
    height: 3rem;
    width: 14rem;
    color: rgba(255, 255, 255, 0.377);
    background: black;
  }
  &-back:hover {
    color: #fff;
    transition: 1s;
  }
  &-container {
    width: 1265px;
    margin: 10px auto;
    text-align: center;
    margin-top: 50px;
  }
  &-container button {
    border: none;
    background-color: white;
    color: rgb(190, 190, 190);
  }
  &-container button:hover {
    color: black;
    transition: 1s;
  }
  &-list {
    text-align: start;
  }
  &-similar {
    display: flex;
    &-info h6 {
      line-height: 1em;
    }
  }
  &-body {
    display: flex;
  }
  &-item {
    display: flex;
    margin-left: 10em;
    &-info {
      width: 40em;
      display: flex;
      justify-content: space-between;
    }
    &-info input {
      height: 1.6em;
      width: 2em;
      text-align: center;
      outline: none;
      background-color: white;
    }
    &-info input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &-info input:focus {
      outline: none;
    }
    &-info h5 {
      line-height: 1em;
      text-align: start;
    }
    &-name {
      width: 10em;
    }
  }
  &-item img {
    height: 10em;
    width: 9em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 5px 1px;
    margin-right: 1em;
  }
  &-item button {
    height: min-content;
  }
  &-item .icon {
    color: "#ddd";
  }
  &-similar img {
    height: 5em;
    width: 5em;
    margin-bottom: 1em;
    box-shadow: 2px 2px 5px 1px;
    margin-right: 1em;
  }
  &-navigate {
    display: flex;
    justify-content: flex-end;
    margin: 2em 0;
  }
  &-navigate button {
    font-weight: bold;
  }
  &-navigate .checkout {
    background-color: black;
    margin-left: 8em;
    height: 4em;
    width: 8em;
  }
  &-navigate .checkout:hover {
    color: white;
  }
}
