* input{
    border: none;
}
.login{
    border-radius: 8px;
    padding-top:20px;
    font-family: 'Roboto';
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.562), rgba(255, 255, 255, 0) );
    position: absolute;
    z-index: 1;
    width: 280px;
    top: 30%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    &-container{
        width: 100%;
        height: auto;
    }
    &-background{
        opacity: 0.6;
        background-position: center center;
        height:658px;
        background-image: url("https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1229&q=80");
        background-size: cover;
    }
    &-form{

    }
    &-input{
        font-family: FontAwesome;
        border-bottom: solid 2px #fff;
        height:22px;
        background-color: transparent;
        font-size: 17px;
        font-weight: thin;
    }
    &-input::placeholder{
        color: #fff;
    }
}
.login button{
    border-radius: 40px;
    border:none;
    width: 70px;
    height:30px;
    cursor: pointer;
}
.login a{
    text-decoration: none;
    color: #fff;
}

