/* Product Detail */
.ProductDetail {
    margin: 10px;
    
    
}
.ProductDetail .ImgProduct{
  margin-right: 20px;
}
.ImgProduct .ImgDetail img{
    min-height: 500px;
    height: 400px; 
    width:100%
}
.ImgProduct .sub-img{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.ImgProduct .sub-img img{
    height: 80px;
    width: 80px;
    margin-left: 5px;
}
.ProductDetail .InforDetail{
border: 1px solid #ccc
}
.ProductDetail .product-name{
    font-weight: 400;
}
.ProductDetail .product-price{
    margin-bottom: 10px;
}
.ProductDetail .product-des{
   text-align: justify;
   margin-bottom: 50px;
}
.ProductDetail .product-buy input{
    border: 1px solid #ccc;
    height:38px;
    margin-right: 5px;
    padding-bottom: 5px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
 }

 .DescriptionDetail {
     margin: 32px 0;
 }